---
import AccommodationsSection from "../components/AccommodationsSection.astro";
import ContactSection from "../components/ContactSection.astro";
import DiningSection from "../components/DiningSection.astro";
import Footer from "../components/Footer.astro";
import GallerySection from "../components/GallerySection.astro";
import GdprBanner from "../components/GdprBanner.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import RefugeSection from "../components/RefugeSection.astro";
import { languageTag } from "../paraglide/runtime.js";
import "../styles/global.css";

const locale = Astro.currentLocale ?? "fr";
---

<!doctype html>
<html lang={languageTag()} dir={Astro.locals.paraglide.dir}>
  <head>
    <Head locale={locale} />
    <script is:inline>
      if (localStorage.getItem("rgpd-consent")) {
        document.documentElement.setAttribute("data-consent-set", "");
      }
    </script>
  </head>
  <body>
    <Header />
    <main>
      <HeroSection locale={locale} class="pb-16" />
      <RefugeSection locale={locale} />
      <AccommodationsSection locale={locale} />
      <DiningSection locale={locale} />
      <GallerySection />
      <ContactSection locale={locale} />
    </main>
    <Footer locale={locale} />
    <GdprBanner locale={locale} />
  </body>
</html>
